// Fuentes
$fuente_headings: 'Roboto', sans-serif;
$fuente_textos: 'Montserrat', sans-serif;
$boton: 'Noto Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 375px;
$tablet: 768px;
$desktop: 1024px;

// Colores

$pink: #f9ded8;
$white: #FFFFFF;
$gray: #767676;
$grayDarken: #4B5563;
$grayLigth:#f3f4f6;
$black: #111;
$green: #3DB46D;
$red:#e25c3d;
$gap: 5rem;